/* main page */
body {
  background-color: #B6C9F0;
}

#nav-bar {
  background-color: #47597E;
  padding: 2% 10%;
  position: static;
}

.nav-btn {
  padding: 13px;
}

.questions {
  padding: 2% 10%;
}

.ask{
  padding: 1.5% 0%;
}

.cr-img{
  height: 30rem;
  width: 80rem;
}

h1{
  color: white;
  text-align: center;
  font-size: 5rem;
  font-family: 'Ubuntu', sans-serif;
}

.moto{
  position: absolute;
  margin-top: 7rem;
  padding: 0% 10%;
  z-index: 1;
  text-align: center;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.5rem;
}

.site-name {
  font-size: 40px;
  font-weight: bold;
  color: #21094e;
  font-family: 'Staatliches', cursive;
}

.search-bar{
  position: relative;
  margin-top: 5px;
}

.search-btn{
  margin-top: 5px;
}

.heafer-btn{
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.trending{
  padding: 2% 10%;
  text-align: center;
}

.crds-trending{
  background-color: #DBE6FD;
}

#footer{
  text-align: center;
  color: white;
  background-color: #47597E;
  padding: 2%;
}

.links{
  padding: 1%;
}

.contact{
  color: #DBE6FD;
}

.footer-link{
  padding-left: 3px;
  color: #DBE6FD;
}

.copyright{
  padding-top: 1rem;
}
/* login page */
#login-page {
  text-align: center;
  padding-top: 3%;
}

.login-form {
  padding: 1% 35%;
}

.login-hd {
  padding-top: 2%;
}

/* signup page */
#sign-up-page-page {
  text-align: center;
  padding: 3% 25%;
}

.Sign-up-form-form {
  padding-top: 3%;
}

.gender-selection {
  padding: 2% 0%;
}

.acd-status {}

.mail-year {
  padding: 1% 0%;
}

.username {
  padding-top: 1%;
}

.phone{
  padding-top: 2%
}

